@charset "UTF-8";

@import "settings";
@import "base";
@import "components";

video#bgvid {
  xdisplay: none;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url(polina.jpg) no-repeat;
  background-size: cover;
}

.background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -50;
  background-size: cover;
  background-color: #1b1d20;
  opacity: 0.85;
  xbackground-image: url("http://f.cl.ly/items/3B1019351z2d34101z03/noise.png");
  xbackground-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAOUlEQVQ4T2P8DwQMVASMowZSHJqjYUhxEDIMXBjOmjWLIS0tjaAXBs6FBJ0GVTDqQmJDCre6ERiGAEr9UsVRYEhLAAAAAElFTkSuQmCC);
}