@charset "UTF-8";
@media (min-width: 40rem) {
  /* line 2, scss/base/_grid.scss */
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* line 7, scss/base/_grid.scss */
  .column.full {
    width: 100%;
  }

  /* line 8, scss/base/_grid.scss */
  .column.two-thirds {
    width: 66.7%;
  }

  /* line 9, scss/base/_grid.scss */
  .column.half {
    width: 50%;
  }

  /* line 10, scss/base/_grid.scss */
  .column.third {
    width: 33.3%;
  }

  /* line 11, scss/base/_grid.scss */
  .column.fourth {
    width: 24.95%;
  }

  /* line 12, scss/base/_grid.scss */
  .column.flow-opposite {
    float: right;
  }
}
/* line 1, scss/component/_typography.scss */
html {
  font-size: 62.5%;
}

/* line 5, scss/component/_typography.scss */
body {
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 9, scss/component/_typography.scss */
h1 {
  font-size: 44px;
  font-size: 4.4rem;
}

/* line 13, scss/component/_typography.scss */
h2 {
  font-size: 37px;
  font-size: 3.7rem;
}

/* line 17, scss/component/_typography.scss */
h3 {
  font-size: 27px;
  font-size: 2.7rem;
}

/* line 21, scss/component/_typography.scss */
h4 {
  font-size: 23px;
  font-size: 2.3rem;
}

/* line 25, scss/component/_typography.scss */
h5 {
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 29, scss/component/_typography.scss */
h6 {
  font-size: 10px;
  font-size: 1rem;
}

/* line 3, scss/component/_article.scss */
article p, article h2, article h3, article h4, article h5, article figcaption, article ul, article ol, article header {
  padding: 0 4.4rem;
  word-wrap: break-word;
}
/* line 8, scss/component/_article.scss */
article p {
  text-align: justify;
  line-height: 1.5em;
}
/* line 13, scss/component/_article.scss */
article h1 {
  font-weight: 900;
  line-height: 1.1em;
}
/* line 18, scss/component/_article.scss */
article p + p {
  text-indent: 2em;
}

/* line 8, scss/component/_toc.scss */
.toc {
  counter-reset: chapter 0 figure 0;
}
/* line 10, scss/component/_toc.scss */
.toc li {
  white-space: nowrap;
  list-style-position: inside;
  line-height: 30px;
  color: #aab2bd;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 15, scss/component/_toc.scss */
.toc li a, .toc li span {
  color: #f5f7fa;
  background-color: #1b1d20;
}
/* line 19, scss/component/_toc.scss */
.toc li a {
  padding: 0 5px 0 0;
}
/* line 22, scss/component/_toc.scss */
.toc li span {
  float: right;
  position: relative;
  padding: 0 0 0 5px;
}
/* line 27, scss/component/_toc.scss */
.toc li span:after {
  counter-increment: chapter;
  content: " " counter(chapter,upper-roman) " ";
}
/* line 33, scss/component/_toc.scss */
.toc li :before {
  color: #656d78;
  float: left;
  width: 0;
  content: "\00a0\00a0\00a0\00a0\00a0" ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . ";
}
/* line 40, scss/component/_toc.scss */
.toc h3.main-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -2px;
  margin: 6% 11.4% 6% 11.4%;
  padding: 0 10%;
  font-size: 6.52rem;
  line-height: 6.52rem;
  color: #FFFFFF;
}
/* line 51, scss/component/_toc.scss */
.toc ul {
  padding-left: 2rem;
  width: 100%;
}
/* line 55, scss/component/_toc.scss */
.toc > ol, .toc > ul, .toc > p, .toc > div {
  padding: 0 0 0 4.8rem;
  line-height: 3.52rem;
  width: 85%;
}
/* line 60, scss/component/_toc.scss */
.toc a, .toc span, .toc p, .toc h1, .toc h2 {
  color: #AAAAAA;
}
/* line 63, scss/component/_toc.scss */
.toc .toc-section {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 0 3rem 0;
}
/* line 67, scss/component/_toc.scss */
.toc p.toc-section {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
/* line 70, scss/component/_toc.scss */
.toc .toc-section:before {
  content: '';
}
/* line 73, scss/component/_toc.scss */
.toc .toc-section + .toc-section {
  padding: 2rem 0 2rem 0;
}
/* line 76, scss/component/_toc.scss */
.toc .toc-section + li {
  padding: 2rem 0 0 0;
}
/* line 79, scss/component/_toc.scss */
.toc div.copyright {
  line-height: 1.5em;
  color: #3a4145;
}
/* line 82, scss/component/_toc.scss */
.toc div.copyright h2 {
  padding: 2rem 0 2rem 0;
  font-size: 2rem;
}
/* line 86, scss/component/_toc.scss */
.toc div.copyright p {
  text-align: justify;
}
/* line 91, scss/component/_toc.scss */
.toc ul:nth-child(4) li span:after {
  counter-increment: figure;
  content: "Fig. " counter(figure);
}

/* line 1, scss/component/_figure.scss */
body {
  counter-reset: figures;
}

/* line 5, scss/component/_figure.scss */
.figure {
  margin: 0 15px 1em;
}

/* line 9, scss/component/_figure.scss */
.figure img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

/* line 15, scss/component/_figure.scss */
.figure figcaption {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #666666;
  padding: 0 4.4rem;
  text-align: right;
  counter-increment: figures;
}

/* line 24, scss/component/_figure.scss */
.figure figcaption:before {
  content: "Fig. " counter(figures) " - ";
}

/**
 * Blackboard theme
 *
 * Adapted from Domenico Carbotta's TextMate theme of the same name
 *
 * @author Domenico Carbotta
 * @author Craig Campbell
 * @version 1.0.2
 */
/* line 11, scss/component/_code.scss */
pre {
  color: #FFFFFF;
  font-family: 'Monaco', courier, monospace;
  overflow-y: auto;
  display: block;
  margin: 2rem 0 2rem 0;
  line-height: 100%;
  /* Browser specific (not valid) styles to make codeformatted text wrap */
  /* remove cursor from inactive code section */
}
/* line 22, scss/component/_code.scss */
pre code {
  white-space: code-wrap;
  /* css-3 */
  white-space: -moz-code-wrap;
  /* Mozilla, since 1999 */
  white-space: -code-wrap;
  /* Opera 4-6 */
  white-space: -o-code-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}
/* line 30, scss/component/_code.scss */
pre code + p {
  margin-top: 1.5em;
}
/* line 35, scss/component/_code.scss */
pre .ace_hidden-cursors {
  opacity: 0;
}

/* line 1, scss/component/_table.scss */
table {
  background: none repeat scroll 0 0 #EAEBEC;
  border-radius: 3px 3px 3px 3px;
  color: #666666;
  font-size: 12px;
  width: auto;
  overflow-y: hidden;
  display: block;
  margin: 2rem 0 2rem 4.4rem;
  border-spacing: 0px;
}

/* line 13, scss/component/_table.scss */
td {
  vertical-align: text-top;
  padding: 0.3em 0.6em;
}

/* line 18, scss/component/_table.scss */
table.framed, table.framed-hr {
  border-collapse: collapse;
}

/* line 22, scss/component/_table.scss */
table.framed td {
  border: thin solid #DDDDDD;
}

/* line 26, scss/component/_table.scss */
table.framed-hr td {
  border-bottom: thin solid #DDDDDD;
}

/* line 30, scss/component/_table.scss */
table.framed td.right, table.framed-hr td.right {
  text-align: right;
}

/* line 34, scss/component/_table.scss */
table.framed tr.doubleline, table.framed-hr tr.doubleline {
  border-bottom: medium double;
}

/* line 38, scss/component/_table.scss */
table th {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(100%, #ebebeb));
  background-image: -webkit-linear-gradient(center top, #ededed, #ebebeb);
  background-image: -moz-linear-gradient(center top, #ededed, #ebebeb);
  background-image: -o-linear-gradient(center top, #ededed, #ebebeb);
  background-image: linear-gradient(center top, #ededed, #ebebeb);
  border-bottom: 1px solid #E0E0E0;
  padding: 21px 25px 22px;
}

/* line 44, scss/component/_table.scss */
table th:first-child {
  padding-left: 20px;
  text-align: left;
}

/* line 49, scss/component/_table.scss */
table tr:first-child th:first-child {
  border-top-left-radius: 3px;
}

/* line 53, scss/component/_table.scss */
table tr:first-child th:last-child {
  border-top-right-radius: 3px;
}

/* line 57, scss/component/_table.scss */
table tr {
  padding-left: 20px;
  text-align: center;
}

/* line 62, scss/component/_table.scss */
table tr td:first-child {
  border-left: 0 none;
  padding-left: 20px;
  text-align: left;
}

/* line 68, scss/component/_table.scss */
table tr td {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #fafafa));
  background-image: -webkit-linear-gradient(center top, #fbfbfb, #fafafa);
  background-image: -moz-linear-gradient(center top, #fbfbfb, #fafafa);
  background-image: -o-linear-gradient(center top, #fbfbfb, #fafafa);
  background-image: linear-gradient(center top, #fbfbfb, #fafafa);
  border-bottom: 1px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
  border-top: 1px solid #FFFFFF;
  padding: 18px;
}

/* line 76, scss/component/_table.scss */
table tr.even td {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #f6f6f6));
  background-image: -webkit-linear-gradient(center top, #f8f8f8, #f6f6f6);
  background-image: -moz-linear-gradient(center top, #f8f8f8, #f6f6f6);
  background-image: -o-linear-gradient(center top, #f8f8f8, #f6f6f6);
  background-image: linear-gradient(center top, #f8f8f8, #f6f6f6);
}

/* line 80, scss/component/_table.scss */
table tr:last-child td {
  border-bottom: 0 none;
}

/* line 84, scss/component/_table.scss */
table tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

/* line 88, scss/component/_table.scss */
table tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

/* line 92, scss/component/_table.scss */
table tr:hover td {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #f0f0f0));
  background-image: -webkit-linear-gradient(center top, #f2f2f2, #f0f0f0);
  background-image: -moz-linear-gradient(center top, #f2f2f2, #f0f0f0);
  background-image: -o-linear-gradient(center top, #f2f2f2, #f0f0f0);
  background-image: linear-gradient(center top, #f2f2f2, #f0f0f0);
}

/* line 96, scss/component/_table.scss */
.table-heading {
  padding-bottom: 30px;
  padding-top: 20px;
}

/* line 101, scss/component/_table.scss */
.table-text {
  color: #6F6F6F;
}

/* line 1, scss/component/_header.scss */
header + p {
  font-size: 1.8rem;
}

/* line 5, scss/component/_header.scss */
header {
  margin: 3rem 0 0 0;
}
/* line 9, scss/component/_header.scss */
header div {
  color: #3a4145;
  font-size: 1.8rem;
  padding: 0 0 0 2px;
  color: #666666;
}
/* line 16, scss/component/_header.scss */
header h1 {
  margin: 5rem 0rem 5rem 0;
}
/* line 20, scss/component/_header.scss */
header h2 {
  border-top: 1px solid #DDD;
  color: #DDD;
  margin: 0 0 10px 0;
  text-align: center;
}
/* line 26, scss/component/_header.scss */
header h2 span {
  font-size: 2.2rem;
  background: white;
  padding: 0  15px;
  position: relative;
  top: -1.4rem;
}

@media (min-width: 40rem) {
  /* line 2, scss/base/_grid.scss */
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* line 7, scss/base/_grid.scss */
  .column.full {
    width: 100%;
  }

  /* line 8, scss/base/_grid.scss */
  .column.two-thirds {
    width: 66.7%;
  }

  /* line 9, scss/base/_grid.scss */
  .column.half {
    width: 50%;
  }

  /* line 10, scss/base/_grid.scss */
  .column.third {
    width: 33.3%;
  }

  /* line 11, scss/base/_grid.scss */
  .column.fourth {
    width: 24.95%;
  }

  /* line 12, scss/base/_grid.scss */
  .column.flow-opposite {
    float: right;
  }
}
/* line 10, scss/main.scss */
.left {
  float: left !important;
}

/* line 14, scss/main.scss */
.right {
  float: right !important;
}

/* line 18, scss/main.scss */
.clearfix {
  *zoom: 1;
}
/* line 40, scss/base/_mixin.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 41, scss/base/_mixin.scss */
.clearfix:after {
  clear: both;
}

/* line 22, scss/main.scss */
.hide {
  display: none;
}

/* line 26, scss/main.scss */
html {
  background: linear-gradient(160deg, rgba(74, 137, 220, 0.2), rgba(48, 39, 70, 0.2) 60%), url(img/bg-diagmonds.png);
}

/* line 30, scss/main.scss */
body {
  color: #3a4145;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 150%;
  position: relative;
  cursor: default;
  -webkit-font-smoothing: antialiased;
}

/* line 45, scss/main.scss */
.header {
  padding: 0 15px;
}

/* line 49, scss/main.scss */
a {
  text-decoration: none;
  color: #3a4145;
}

/* line 54, scss/main.scss */
p:first-child, .toc h3 {
  padding-top: 20px;
}

/* line 58, scss/main.scss */
h1, h2, h3, h4, h5 {
  color: #000;
}

/* column layout */
/* line 63, scss/main.scss */
#container3 {
  width: 1740px;
  margin: 50px auto;
  clear: left;
  overflow: hidden;
  border: 5px solid #1B1D20;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
  background-color: #1B1D20;
}

/* line 75, scss/main.scss */
#container2 {
  clear: left;
  float: left;
  width: 99.9%;
  position: relative;
  right: 33%;
  background-color: white;
}

/* line 84, scss/main.scss */
#container1 {
  float: left;
  width: 99.9%;
  position: relative;
  right: 33%;
  background-color: white;
  padding: 0 0 10rem 0;
  border-right: 1px solid #F2F2F2;
  xbox-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), inset 6px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

/* line 95, scss/main.scss */
#col1 {
  float: left;
  width: 33%;
  position: relative;
  left: 67%;
  overflow: hidden;
}

/* line 103, scss/main.scss */
#col2 {
  float: left;
  width: 33%;
  position: relative;
  left: 67%;
  overflow: hidden;
  padding: 2rem 0 0 0;
}

/* line 112, scss/main.scss */
#col3 {
  float: left;
  width: 33%;
  position: relative;
  left: 67%;
  overflow: hidden;
}

/* line 120, scss/main.scss */
.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
  font-weight: normal;
}

@media only screen and (max-width: 20em) {
  /* line 131, scss/main.scss */
  body {
    background-color: red !important;
  }
}
@media only screen and (min-width: 20.063em) and (max-width: 60em) {
  /* line 138, scss/main.scss */
  html {
    background: #000000 !important;
  }

  /* line 141, scss/main.scss */
  p:first-child {
    padding: 0 15px;
  }

  /* line 144, scss/main.scss */
  #col1 {
    float: none !important;
    width: 100% !important;
    left: 0px !important;
  }

  /* line 149, scss/main.scss */
  #col2 {
    float: none !important;
    width: 100% !important;
    left: 0px !important;
  }

  /* line 154, scss/main.scss */
  #col3 {
    display: none;
  }

  /* line 157, scss/main.scss */
  #container3 {
    clear: left;
    width: 100% !important;
    overflow: hidden;
    margin: 20px 0;
    border-left: 0px;
    border-right: 0px;
  }

  /* line 165, scss/main.scss */
  #container2 {
    clear: left;
    float: left;
    width: 100% !important;
    overflow: hidden;
    right: 0px !important;
  }

  /* line 172, scss/main.scss */
  #container1 {
    float: left;
    width: 100% !important;
    position: relative;
    right: 0px !important;
  }

  /* line 178, scss/main.scss */
  article pre {
    margin: 0px !important;
    padding: 10px 0 25px 25px !important;
    border-radius: 0px !important;
  }

  /* line 183, scss/main.scss */
  article header > h1 {
    font-size: 6.4rem !important;
  }

  /* line 186, scss/main.scss */
  figure {
    margin: 0 5px 2em !important;
  }
}
@media only screen and (min-width: 60.063em) and (max-width: 110em) {
  /* line 192, scss/main.scss */
  #container3 {
    float: none;
    width: 90%;
    overflow: hidden;
    margin: 50px auto;
  }

  /* line 198, scss/main.scss */
  #container2 {
    clear: left;
    float: left;
    width: 100%;
    overflow: hidden;
    right: 0px;
  }

  /* line 205, scss/main.scss */
  #container1 {
    float: left;
    width: 100%;
    position: relative;
    right: 50%;
  }

  /* line 211, scss/main.scss */
  #col1 {
    float: left;
    width: 50%;
    position: relative;
    left: 50%;
    overflow: hidden;
  }

  /* line 218, scss/main.scss */
  #col2 {
    float: left;
    width: 50%;
    position: relative;
    left: 50%;
    overflow: hidden;
  }

  /* line 225, scss/main.scss */
  #col3 {
    display: none;
  }
}
