@charset "UTF-8";
/* line 1, /Users/bvarga/01_Workplace/book-page/scss/component/_typography.scss */
html {
  font-size: 62.5%;
}

/* line 5, /Users/bvarga/01_Workplace/book-page/scss/component/_typography.scss */
body {
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 9, /Users/bvarga/01_Workplace/book-page/scss/component/_typography.scss */
h1 {
  font-size: 44px;
  font-size: 4.4rem;
}

/* line 13, /Users/bvarga/01_Workplace/book-page/scss/component/_typography.scss */
h2 {
  font-size: 37px;
  font-size: 3.7rem;
}

/* line 17, /Users/bvarga/01_Workplace/book-page/scss/component/_typography.scss */
h3 {
  font-size: 27px;
  font-size: 2.7rem;
}

/* line 21, /Users/bvarga/01_Workplace/book-page/scss/component/_typography.scss */
h4 {
  font-size: 23px;
  font-size: 2.3rem;
}

/* line 25, /Users/bvarga/01_Workplace/book-page/scss/component/_typography.scss */
h5 {
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 29, /Users/bvarga/01_Workplace/book-page/scss/component/_typography.scss */
h6 {
  font-size: 10px;
  font-size: 1rem;
}

/* line 1, /Users/bvarga/01_Workplace/book-page/scss/component/_article.scss */
p + p {
  text-indent: 2em;
}

/* line 9, scss/main.scss */
.left {
  float: left !important;
}

/* line 10, scss/main.scss */
.right {
  float: right !important;
}

/* line 11, scss/main.scss */
.clearfix {
  *zoom: 1;
}
/* line 39, /Users/bvarga/01_Workplace/book-page/scss/base/_mixin.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 40, /Users/bvarga/01_Workplace/book-page/scss/base/_mixin.scss */
.clearfix:after {
  clear: both;
}

/* line 12, scss/main.scss */
.hide {
  display: none;
}

/* line 15, scss/main.scss */
body {
  background: #f6f6f6;
  color: black;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 150%;
  position: relative;
  cursor: default;
  -webkit-font-smoothing: antialiased;
}

/* line 29, scss/main.scss */
p, .header {
  padding: 0 15px;
}

/* line 33, scss/main.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 38, scss/main.scss */
p:first-child, .toc h3 {
  padding-top: 120px;
}

/* column layout */
/* line 44, scss/main.scss */
#container3 {
  width: 1740px;
  margin: 50px auto;
  clear: left;
  overflow: hidden;
  background: #EDE0CE;
}

/* line 55, scss/main.scss */
#container2 {
  clear: left;
  float: left;
  width: 100%;
  position: relative;
  right: 33.333%;
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
}

/* line 65, scss/main.scss */
#container1 {
  float: left;
  width: 100%;
  position: relative;
  right: 33.33%;
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
}

/* line 74, scss/main.scss */
#col1 {
  float: left;
  width: 29.33%;
  position: relative;
  left: 68.67%;
  overflow: hidden;
}

/* line 82, scss/main.scss */
#col2 {
  float: left;
  width: 29.33%;
  position: relative;
  left: 72.67%;
  overflow: hidden;
}

/* line 90, scss/main.scss */
#col3 {
  float: left;
  width: 29.33%;
  position: relative;
  left: 76.67%;
  overflow: hidden;
}

@media only screen and (max-width: 20em) {
  /* line 103, scss/main.scss */
  body {
    background-color: red !important;
  }
}
@media only screen and (min-width: 20.063em) and (max-width: 60em) {
  /* line 111, scss/main.scss */
  p:first-child {
    padding: 0 15px;
  }

  /* line 115, scss/main.scss */
  #col1 {
    float: none !important;
    width: 100% !important;
    left: 0px !important;
  }

  /* line 121, scss/main.scss */
  #col2 {
    float: none !important;
    width: 100% !important;
    left: 0px !important;
  }

  /* line 127, scss/main.scss */
  #col3 {
    display: none;
  }

  /* line 131, scss/main.scss */
  #container3 {
    clear: left;
    width: 90% !important;
    overflow: hidden;
    margin: 50px auto;
  }

  /* line 138, scss/main.scss */
  #container2 {
    clear: left;
    float: left;
    width: 100% !important;
    overflow: hidden;
    right: 0px !important;
  }

  /* line 146, scss/main.scss */
  #container1 {
    float: left;
    width: 100% !important;
    position: relative;
    right: 0px !important;
  }
}
@media only screen and (min-width: 60.063em) and (max-width: 110em) {
  /* line 158, scss/main.scss */
  #container3 {
    float: none;
    width: 90%;
    overflow: hidden;
    margin: 50px auto;
  }

  /* line 165, scss/main.scss */
  #container2 {
    clear: left;
    float: left;
    width: 100%;
    overflow: hidden;
    right: 0px;
  }

  /* line 173, scss/main.scss */
  #container1 {
    float: left;
    width: 100%;
    position: relative;
    right: 50%;
  }

  /* line 180, scss/main.scss */
  #col1 {
    float: left;
    width: 46%;
    position: relative;
    left: 52%;
    overflow: hidden;
  }

  /* line 188, scss/main.scss */
  #col2 {
    float: left;
    width: 46%;
    position: relative;
    left: 56%;
    overflow: hidden;
  }

  /* line 196, scss/main.scss */
  #col3 {
    display: none;
  }
}
