
$font-size-base: 62.5%; // (10/16 * 100) 10px font size 

$font-size-h1: 44px !default;
$font-size-h2: 37px !default;
$font-size-h3: 27px !default;
$font-size-h4: 23px !default;
$font-size-h5: 18px !default;
$font-size-h6: 1rem !default;

$font-color: #000000 !default;
$font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;
$font-weight: normal !default;
$font-style: normal !default;