
$rem-base: 16px !default; // rem base is default browser font size
$line-height: 150% !default; // 24px with 16px base
$body-background: linear-gradient(315deg, rgba(220, 110, 10, 0.2), rgba(0, 170, 255, 0.1) 80%), url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/shattered.png);
$content-background: #ffffff;
$cursor-default: default !default;