$rem-base: 16px !default;

// rem base is default browser font size
$line-height: 150% !default;

// 24px with 16px base
$body-background: linear-gradient(160deg, rgba(74, 137, 220, 0.2), rgba(48, 39, 70, 0.2) 60%), url(img/bg-diagmonds.png);
$content-background: white;
$cursor-default: default !default;