$book-page-bg-color: $light-background-color;
$side-bar-bg-color: $dark-background-color;
$padding: 3rem;

.page, .navigation {
  padding: $padding / 2 $padding;
  float: left;
}

.wrap {
  width: 100%;
  max-width: 1800px;
  margin: 2rem auto;
  position: relative;
}

.wrap:before,
.wrap:after {
  content: '';
  display: table;
}

.wrap:after {
  clear: both;
}

.page,
.page:before {
  width: 35%;
}

.page:before {
  left: 0px;
  background-color: $book-page-bg-color;
}

.page:first-child + .page:before {
  left: 35%;
}

.navigation:before {
  left: 70%;
}

.navigation,
.navigation:before {
  width: 30%;
  background-color: $side-bar-bg-color;
}

.page:before,
.navigation:before {
  content: '';
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  box-shadow: inset 0 0 3em hsla(0, 0%, 0%, 0.05), 0 0 0.25em hsla(0, 0%, 0%, 0.05), 0 0.25em 0.25em hsla(0, 0%, 0%, 0.025);
}

@media only screen and (max-width: 64em) {
  .page, .page:before {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
  }
  .page:first-child + .page:before {
    left: 0;
  }
  .navigation {
    width: 100%;
  }
  .navigation:before {
    display: none;
  }
}

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .page, .page:before {
    width: 50%;
  }
  .navigation:before {
    display: none;
  }
  .page:first-child + .page:before {
    left: 50%;
  }
  .navigation {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    .column {
      width: 50%;
      margin: 0;
      padding: 0 $padding;
      float: right;
      &:nth-child(2n+1) {
        float: left;
        clear: both;
      }
    }
  }
}