.left {
  float: left !important;
}

.right {
  float: right !important;
}

.clearfix {
  @include clearfix;
}

.hide {
  display: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}