@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@media (min-width: 40rem) {
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem; }

  .column.full {
    width: 100%; }

  .column.two-thirds {
    width: 66.7%; }

  .column.half {
    width: 50%; }

  .column.third {
    width: 33.3%; }

  .column.fourth {
    width: 24.95%; }

  .column.flow-opposite {
    float: right; } }
.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.hide {
  display: none; }

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem; }

h1 {
  font-size: 44px;
  font-size: 4.4rem; }

h2 {
  font-size: 37px;
  font-size: 3.7rem; }

h3 {
  font-size: 27px;
  font-size: 2.7rem; }

h4 {
  font-size: 23px;
  font-size: 2.3rem; }

h5 {
  font-size: 18px;
  font-size: 1.8rem; }

h6 {
  font-size: 10px;
  font-size: 1rem; }

.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
  font-weight: normal; }

a {
  text-decoration: none;
  color: #1b1d20; }

.page, .navigation {
  padding: 1.5rem 3rem;
  float: left; }

.wrap {
  width: 100%;
  max-width: 1800px;
  margin: 8rem auto;
  position: relative; }

.wrap:before,
.wrap:after {
  content: '';
  display: table; }

.wrap:after {
  clear: both; }

.page,
.page:before {
  width: 35%; }

.page:before {
  left: 0px;
  background-color: #f7f7f7; }

.page:first-child + .page:before {
  left: 35%; }

.navigation:before {
  left: 70%; }

.navigation,
.navigation:before {
  width: 30%;
  background-color: #1b1d20; }

.page:before,
.navigation:before {
  content: '';
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  box-shadow: inset 0 0 3em rgba(0, 0, 0, 0.05), 0 0 0.25em rgba(0, 0, 0, 0.05), 0 0.25em 0.25em rgba(0, 0, 0, 0.025); }

@media only screen and (max-width: 64em) {
  .page, .page:before {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%; }

  .page:first-child + .page:before {
    left: 0; }

  .navigation {
    width: 100%; }

  .navigation:before {
    display: none; } }
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .page, .page:before {
    width: 50%; }

  .navigation:before {
    display: none; }

  .page:first-child + .page:before {
    left: 50%; }

  .navigation {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px; }
    .navigation .column {
      width: 50%;
      margin: 0;
      padding: 0 3rem;
      float: right; }
      .navigation .column:nth-child(2n+1) {
        float: left;
        clear: both; } }
*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  min-height: 100%; }

body {
  color: #1b1d20;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 150%;
  cursor: default;
  -webkit-font-smoothing: antialiased; }

.page-subhead {
  text-transform: uppercase;
  color: #656d78;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  margin-bottom: 3rem;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.1em; }

article + article .page-subhead {
  text-align: right; }

article > p, article > h1, article > h2, article > h3, article > h4, article > h5, article > caption, article > ul, article > ol, article > header, article > table {
  margin-top: 2rem; }
article p, article h2, article h3, article h4, article h5, article figcaption, article ul, article ol, article header {
  word-wrap: break-word; }
article p {
  text-align: justify;
  line-height: 1.5em; }
article h1 {
  font-weight: 900;
  line-height: 1.1em; }
article p + p {
  text-indent: 2em; }


#debug-bar {
  font-family: "Droid Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background: rgba(27, 29, 32, 0.8);
  border-top: 1px solid rgba(250, 250, 250, 0.8);
  z-index: 99999999999999999;
  box-shadow: 0 -4px 10px 0 rgba(27, 29, 32, 0.3); }
  #debug-bar li {
    display: inline;
    list-style: none; }
  #debug-bar a {
    color: rgba(250, 250, 250, 0.6);
    text-transform: uppercase;
    border: 1px solid rgba(250, 250, 250, 0.6);
    border-radius: 4px;
    padding: 4px 6px;
    margin: 0 8px; }

/*# sourceMappingURL=main.css.map */

video#bgvid {
  xdisplay: none;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url(polina.jpg) no-repeat;
  background-size: cover; }

.background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -50;
  background-size: cover;
  background-color: #1b1d20;
  opacity: 0.85;
  xbackground-image: url("http://f.cl.ly/items/3B1019351z2d34101z03/noise.png");
  xbackground-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAOUlEQVQ4T2P8DwQMVASMowZSHJqjYUhxEDIMXBjOmjWLIS0tjaAXBs6FBJ0GVTDqQmJDCre6ERiGAEr9UsVRYEhLAAAAAElFTkSuQmCC); }

