article {
  p, h2, h3, h4, h5, figcaption, ul, ol, header {
    word-wrap: break-word;
  }
  p {
    text-align: justify;
    line-height: 1.5em;
  }
  h1 {
    font-weight: 900;
    line-height: 1.1em;
  }
  p + p {
    text-indent: 2em;
  }
}