$item-color: $dark-background-color;

.post-item {
  padding: 10px 20px;
  margin: 20px 0;
  line-height: normal;
}

.post-item-header {
  border-bottom: 2px solid $item-color;
}

.post-item-title {
  font-size: 2em;
  color: $item-color;
  margin-bottom: 0.2em;
  font-weight: bold;
}

.post-item-category {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: #fff;
  background: $item-color;
  font-size: 80%;
  text-decoration: none;
}

.post-item-date {
  float: right;
}

.post-item-more {
  text-transform: uppercase;
  color: $item-color;
  border: 1px solid $item-color;
  padding: 2px 8px;
  margin: 0;
}

// style for the second page
article + article {

}

@media only screen and (max-width: 64em) {
  article + article {
    .post-list-subhead {
      text-align: left;
    }
    .post-item:hover {
      border-left: 1px solid #eeeeee;
    }
  }
}