@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

$block-color-light: #CCD1D9;
$block-color-middle: #AAB2BD;
$block-color-dark: #656D78;

@import "grid-overlay";
@import "layout-overlay";

#debug-bar {
  font-family: "Droid Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background: rgba(27, 29, 32, 0.8);
  border-top: 1px solid rgba(250, 250, 250, 0.8);
  z-index: 99999999999999999;
  box-shadow: 0 -4px 10px 0 rgba(27, 29, 32, 0.3);
  li {
    display: inline;
    list-style: none;
  }
  a {
    color: rgba(250, 250, 250, 0.6);
    text-transform: uppercase;
    border: 1px solid rgba(250, 250, 250, 0.6);
    border-radius: 4px;
    padding: 4px 6px;
    margin: 0 8px;
  }
}